<a href="https://colab.research.google.com/github/lucasmoore2k/Back-End-Projects/blob/master/Aula4_Enem_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
enem = pd.read_csv('https://github.com/guilhermesilveira/enem-2018/blob/master/MICRODADOS_ENEM_2018_SAMPLE_43278.csv?raw=true')
enem.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q025  Q026 Q027
0  180009327796    2018                  2112209  ...    B     A    A
1  180012890374    2018                  3557105  ...    B     D    D
2  180008223824    2018                  2506301  ...    B     A    E
3  180007859645    2018                  3534807  ...    A     B    A
4  180013499517    2018                  3523107  ...    B     A    A

[5 rows x 137 columns]

In [3]:
enem.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       ...
       'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Q026',
       'Q027'],
      dtype='object', length=137)

In [4]:
enem.describe()

       NU_INSCRICAO    NU_ANO  ...  NU_NOTA_REDACAO           Q005
count  1.378440e+05  137844.0  ...    103774.000000  137844.000000
mean   1.800104e+11    2018.0  ...       509.133116       3.895447
std    1.918950e+06       0.0  ...       187.014052       1.505254
min    1.800072e+11    2018.0  ...         0.000000       1.000000
25%    1.800088e+11    2018.0  ...       360.000000       3.000000
50%    1.800104e+11    2018.0  ...       520.000000       4.000000
75%    1.800120e+11    2018.0  ...       620.000000       5.000000
max    1.800140e+11    2018.0  ...      1000.000000      20.000000

[8 rows x 94 columns]

In [6]:
##Filtrar por coluncas de notas
colunas_notas = ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']
enem[colunas_notas].head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_MT  NU_NOTA_REDACAO
0         NaN         NaN         NaN         NaN              NaN
1       523.1       671.3       661.6       738.0            680.0
2       409.2       531.7       389.0       438.1            600.0
3       452.3       505.5       448.5       544.9            400.0
4         NaN         NaN         NaN         NaN              NaN

In [11]:
##Descatar NaN
enem_notas = enem[colunas_notas].dropna()
enem_notas.columns = ['naturais','humanas','linguagens','matematica','redacao']
enem_notas.head()

   naturais  humanas  linguagens  matematica  redacao
1     523.1    671.3       661.6       738.0    680.0
2     409.2    531.7       389.0       438.1    600.0
3     452.3    505.5       448.5       544.9    400.0
6     428.5    505.2       521.0       436.8    560.0
8     491.8    575.7       524.4       487.6    660.0

Desafio 
- Se as pessoa nao teve presen√ßa,preencher a nota da pessoa com algum n√∫mero. A nota √© 0? m√©dia?mediana?

In [9]:
len(enem_notas)

97270

In [12]:
##Verificar se existe correla√ß√£o entre notas
enem_notas.corr()

            naturais   humanas  linguagens  matematica   redacao
naturais    1.000000  0.571979    0.600252    0.579052  0.513206
humanas     0.571979  1.000000    0.698270    0.529275  0.502914
linguagens  0.600252  0.698270    1.000000    0.565544  0.562957
matematica  0.579052  0.529275    0.565544    1.000000  0.483313
redacao     0.513206  0.502914    0.562957    0.483313  1.000000



---

Desafio 1 : 

- Pairplot dos acertos de cada categorias

- Remover todos os zero

- Quais quest√µes tiveram acertos x erros